@font-face {
    font-family: 'GT America Light';
    src: url(../fonts/GT America Light.otf);
}
@font-face {
    font-family: 'GT America Light';
    src: url(../fonts/GT America Black.otf);
}
@font-face {
    font-family: 'GT America Bold';
    src: url(../fonts/GT America Bold.otf);
}
.popup{
	background-color: #fef3e7;
}
img{
	max-width: 100%;
}
.header_logo{
	width: 300px;
}
.oran_backgr{
	background-color: #e3912d;
	color: #fff;
}
.orange_color{
	color: #e3912d;
}
.steps li.active{
	background-color: #e3912d;
}
.steps li.active span.hidden{
	display: block!important;
}
.steps li span.hidden {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
}
.steps li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 0 10px;
	background-color: #000;
	display: inline-block;
}
.steps{
	padding: 10px 0;
	margin: 0;
}
.popup_footer{
	background-color: #fff;
	margin-top: 40px;
	padding: 40px 0;
}
/* page_onboaring */
.page_onboaring_content{
	padding: 120px 0;
	background-color: #fff;
}
.page_onboaring_title{
	font-size: 25px;
	margin-bottom: 50px;
}
.page_onboaring_content_img{
	background-color: #000;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	height: 180px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 50px 15px; 
}
.female{
	background-image: url(../images/icon-female.png);
}
.male{
	background-image: url(../images/icon-male.png);
}
.popup_footer button.btn.btn-block.oran_backgr.btn-lg {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 16px;
}
/* page_onboaring */