/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.header .navbar-text.navbar-right{
		float: right !important;		
	}
	.header .navbar-header{
		float: left !important;
	}
}

/* Mobile Small devices (tablets, 768px and up) */
@media (max-width: 560px) {
	body.auth-page{
		background: #1b1b1b !important;
	}
	.header{
		padding: 0;
	}	
	.navbar-brand{
		max-width: 70px;
	}	
	.header .navbar-text.navbar-right{
		margin: 10px 0;
	}
	.auth-form{
		padding: 50px 15px;
	}
	.auth-form h1{
		font-size: 40px;
	}
}