@font-face{
    font-family: "GT America Bold";
    src: url("../fonts/GT America Bold.otf");
}
@font-face{
    font-family: "GT America Regular";
    src: url("../fonts/GT America Regular.otf");
}
@font-face{
    font-family: "GT America Condensed Bold";
    src: url("../fonts/GT America Condensed Bold.otf");
}
@font-face{
    font-family: "GT America Condensed Regular";
    src: url("../fonts/GT America Condensed Regular.otf");
}
@font-face{
    font-family: "GT America Compressed Bold";
    src: url("../fonts/GT America Compressed Bold.otf");
}
body{
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	min-height: 100vh;
	background-color: #fef3e7;
}
a{
	color: #E3912D;
}
a:hover{
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
input, button{
	border-radius: 0 !important;
}
button{
	background: #E3912D;
	text-transform: uppercase;
	color: #fff;
}
.orange_color{
	color: #E3912D;
}
.black_br{
	background-color: #2d2d2d;
}
.header {
	padding: 15px;
}
.header .navbar{
	margin-bottom: 0;
	z-index: 1;
}
.header .navbar-brand{
	height: auto;
}
.header .navbar-text.navbar-right img, .header .navbar-text.navbar-right a{
	vertical-align: middle;
	color: #fff;
	margin-left: 10px;
}
.header_menu ul li a{
	color: #fff;
}
.navbar-brand{
	max-width: 170px;
	box-sizing: content-box;
}
.auth-form {
	max-width: 500px;
	padding: 50px;
	margin: 50px auto;
	background: #1B1B1B;
}
.auth-form h1{
	font-size: 50px;
	color: #E3912D;
	margin-bottom: 30px;
}
.auth-form p{
	color: #fff;
}
.auth-form input[type=checkbox],.auth-form .text-left span{
	vertical-align: middle;
}
.auth-form input[type=checkbox]{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  background: #fff;  
  margin-top: 0;
  margin-right: 10px;
}
.auth-form input[type=checkbox]:checked{
	background: #E3912D;
}
.form-invalid{
	position: relative;
	color: #D0021B;
}
.form-invalid a{
	color: #D0021B;	
}
.form-invalid:after{
	content: 'i';
	display: inline-block;
	padding: 0px 10px;
	line-height: 1.5;
	border-radius: 50%;	
	background: #D0021B;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 10px;
}
.form-invalid-inline:after{
	right: -30px;
}
.form-invalid .error-message{
	background: #E3912D;
	padding: 30px;
	color: #fff;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left: 15px;
	width: 260px;
	text-align: left;
	transform: translateY(-50%);
}
.form-invalid .error-message:before{
	content: '';
	display: block;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #E3912D;
	position: absolute;
	left: -15px;
	top: 50%;
	margin-top: -15px;
}
.form-invalid input{	
	color: #D0021B;
}
.popup-title{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.popup-title h2{
	font-size: 25px;
	color: #E3912D;
	margin: 0;
}
.full-page{
	display: flex;
	flex-direction: column;
}
.full-page .wrap-content{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.full-page .wrap-content .wrap-popup{
	flex: 1;
  display: flex;
  flex-direction: column;
}
.full-page .wrap-content .wrap-popup .popup-content{
	flex: 1;
	justify-content: center;
  display: flex;
  flex-direction: column;
}
.popup-content{
	margin: 30px;
}
.popup-content, .popup-footer{
	background: #fff;
	padding: 30px;
}
.popup-steps{
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.popup-steps li{
	display: inline-block;	
	width: 10px;
	height: 10px;
	background: #000000;
	position: relative;
	margin: 18px 10px;
	border-radius: 50%;
	vertical-align: middle;
}
.popup-steps li.active{
	background: #E3912D;
}
.popup-steps li span{
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100%;
	margin-bottom: 30px;
	padding: 10px;
	background: #000;
	color: #E3912D;
}
.popup-steps li span:after{
	content: '';
	display: block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #000;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
}
.popup-steps li:hover{
	cursor: pointer;
}
.popup-steps li:hover span{
	display: block;	
}
.gender-selection label{
	display: inline-block;
	width: 176px;
	height: 176px;
	background: #000 center no-repeat;
	margin: 30px;
	border-radius: 50%;
	cursor: pointer;
}
.gender-selection #female + label{
	background-image: url('../images/icon-female.png');
}
.gender-selection #male + label{
	background-image: url('../images/icon-male.png');
}
.gender-selection input[type=radio]:checked + label{
	background-color: #E3912D;
}
.form-custom .form-control{
	height: 60px;
	background-color: #f6f6f6;
	box-shadow: none;
	font-size: 16px;
	border: 0;
	color: #000;
	
}
.form-custom label{
	font-size: 14px;
	font-weight: 500;
}
.form-custom select{
	-webkit-appearance: none;
	background: url(../images/icon-dropdown.png) no-repeat 95% 50%;
}
/* home */
.header_text-center h1{
	font-family: 'GT America Condensed Bold';
	font-size: 160px;
	color: #FEF3E7;
	text-transform: uppercase;	
	line-height: 193px;
}
.header_text-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}
.header button.btn.btn-lg{
	padding: 10px 40px;
	margin: 0 auto;
	font-family: 'GT America Condensed Bold';
	font-size: 18px;
	color: #FFFFFF;
	height: 60px;
}
.header_text-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: 'GT America Regular';
	font-size: 25px;
	color: #FFFFFF;
	line-height: 35px;
	padding: 15px 30px;
}
a.left.carousel-control,a.right.carousel-control{
	background: none;
}
.carousel-control .glyphicon-chevron-left{
	left: 0;
}
.carousel-control .glyphicon-chevron-right{
	right: 0;
}
.block_slides .glyphicon-chevron-left:before{
	content: "\f104";
	color: #E3912D;
	font: normal normal normal 50px/1 FontAwesome;
}
.block_slides .glyphicon-chevron-right:before{
	content: "\f105";
	color: #E3912D;
	font: normal normal normal 50px/1 FontAwesome;
}
.block_silencioblog_left .form-control{
	height: 60px;
	max-width: 400px;
	margin-bottom: 20px;
	font-family: 'GT America Regular';
	font-size: 18px;
	color: #A1A1A1;
}
.block_silencioblog_left button{
	height: 60px;
	font-size: 18px;
	margin-top: 60px;
	font-family: 'GT America Condensed Bold';
	max-width: 350px;
}
.block_silencioblog_left h3{
	margin-bottom: 60px ;
	color: #fff;
	font-size: 25px;
	line-height: 35px;
	font-family: 'GT America Regular';
}
.block_silencioblog{
	position: relative;
	height: 800px;
}
.block_silencioblog_right{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-image: url(../images/banner-contact.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.block_silencioblog_right h3{
	width: 100%;
	text-align: center;
	font-family: 'GT America Compressed Bold';
	font-size: 110px;
	color: #F4E3D0;
}
.block_silencioblog_left{
	background-color: #1B1B1B;
	padding-top: 60px;
	height: 100%;
}
.block_slides .item{
	padding: 100px 0 200px 0;
}
.carousel-indicators li{
	background-color: #000;
	border: 0;
	border-radius: 0;
	margin: 0 5px;
}
.carousel-indicators .active{
	background-color: #E3912D;
	width: 10px;
	height: 10px;
	margin: 0 5px;
}
.block_monitoring h3{
	font-size: 25px;
	margin: 0;
	line-height: 35px;
	font-family: 'GT America Regular';
}
.block_monitoring h3.orange_color{
	margin: 0 0 35px 0;
}
.header_text-bottom p:first-child{
	margin-bottom: 30px;
}
.footer{
	font-size: 18px;
	line-height: 30px;
	font-family: 'GT America Regular';
}
.footer .col-sm-8 p{
	padding: 40px 0;
	margin: 0;
}
.footer .col-sm-4 ul li{
	padding: 30px 0;
}
/* home */

/* blog overview */
.banner_blog-overview{
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.banner_blog-overview .col-sm-6{
	height: 100%;
	font-family: 'GT America Regular';
	color: #fff;
}
.banner_blog-overview .col-sm-6.text-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1B1B1B;
	box-sizing: border-box;
}
.banner_blog-overview .col-sm-6 span{
	display: block;
	font-size: 16px;
}
.banner_blog-overview .col-sm-6 p{
	font-size: 25px;
	line-height: 35px;
	max-width: 90%;
	margin: 0 auto;
}
.banner_blog-overview .col-sm-6 h3{
	font-size: 70px;
	line-height: 70px;
	text-transform: uppercase;
	font-family: 'GT America Compressed Bold';
	margin-bottom: 40px;
}
.banner_blog-overview .btn.btn-lg{
	position: absolute;
	bottom: 4%;
	right: 4%;
}
.blog_img{
	width: 100%;
	padding-top: 30%;
}
.main_blog-overview .col-sm-4 h4.orage_color{
	font-family: 'GT America Compressed Bold';
	font-size: 40px;
	line-height: 40px;
}
.main_blog-overview .col-sm-4 p{
	font-family: 'GT America Regular';
}
/* blog overview */